body{
	text-align: center;
	background-color: white;
	background-size: cover;
}

h1{
	left: 0;
	/*line-height: 10px;*/
	margin: auto;
	margin-top: 5px;
	position: absolute;
	top: 5%;
	width: 100%;
	color: black;
	font-size: 2.5em;

}

iframe#example1 {
  /*border: none;*/
  width: 600px;
  height: 600px;
	border-radius: 15px;
}

#example1-code {
  padding-top: 16px;
}

#example1-code pre, #example1-code code {
  text-align: center;
  font-size: 11px;
  line-height: 1.2;
  overflow: auto;
  white-space: pre;
}

iframe {
  -moz-transform: scale(0.75, 0.75);
  -webkit-transform: scale(0.75, 0.75);
  -o-transform: scale(0.75, 0.75);
  -ms-transform: scale(0.75, 0.75);
  transform: scale(0.75, 0.75);
  -moz-transform-origin: top center;
  -webkit-transform-origin: top center;
  -o-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
}

.section{
	text-align: center;
}

.section{
	margin-top: 150px;
	padding-bottom: 50px;
}
