body{
	text-align: center;
	background-color: white;
	background-size: cover;
}



h1{
	left: 0;
	/*line-height: 10px;*/
	margin: auto;
	margin-top: 5px;
	position: absolute;
	top: 5%;
	width: 100%;
	color: blue;
	font-size: 3.5em;

}


iframe#example1 {
  border: none;
  width: 600px;
  height: 480px;
}
#example1-code {
  padding-top: 16px;
}
#example1-code pre, #example1-code code {
  text-align: left;
  font-size: 11px;
  line-height: 1.2;
  overflow: auto;
  white-space: pre;
}

.section{
	text-align: center;
}

.section{
	margin-top: 150px;
	padding-bottom: 50px;
}
